<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>을지로 라운지</title>
    <link rel="stylesheet" href="/css/lounge.css" />
  </head>
  <body>
    <!-- common/header.html 을 조각으로 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <div class="menu-container">
      <div class="menu-grid">
        <div class="menu-item">심리상담</div>
        <div class="menu-item">마인드 포스팃</div>
        <div class="menu-item">문의 게시판</div>
        <div class="menu-item">상담센터 찾기</div>
      </div>

      <button class="submit-button">
        <i class="icon">✏️</i> 나의 고민 나누기
      </button>

      <div class="social-section">
        <div class="social-grid">
          <div class="social-box"></div>
          <div class="social-box"></div>
        </div>
      </div>
    </div>

    <!-- common/footer 추가-->
    <th:block th:replace="~{common/footer}"></th:block>
  </body>
</html>
